.cellule {
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cellule.hoverActive {
  background-color: rgb(143, 81, 81);
}
.cellule.hoverInActive {
  background-color: #ffff;
}
