.winnerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 40%;
  padding: 15px;
  background-color: rgb(145, 66, 66);
  border-radius: 7px;
  color: white;
  width: 50%;
  min-height: 50%;
}
.backgroundModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: grid;
  place-items: center;
  animation: modal 0.4s forwards;
}
.button {
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(145, 66, 66);
  border: none;
  background-color: #fff;
}
.score {
  font-style: italic;
  font-size: 4rem;
}
.pseudo {
  color: #f0f0f0;
  margin: 0 3rem;
}

.winnerIsIt {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
}
.winnerChoice {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}
@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
